{% extends "wifi_base.html" %}
{% block title %}User List{% endblock %}
{% block body %}
<center>
<h1>User List</h1>
</center>

<table width=90%>
   {% for grp in ssids %}
      <tr>
         <td colspan=4 align=center>&nbsp </td>
      </tr>
      <tr>
         <td colspan=4 align=center><h3>SSID: {{ grp['name'] }}</h3></td>
      </tr>
      <tr>
          <th align=left>Enable</th>
          <th align=left>User</th>
          <th align=left>Password</th>
          <th align=left>Notes</th>
      </tr>
      <tr>
         <td colspan=4><hr></td>
      </tr>
      {% for user in grp['users'] %}
         <tr>
            <td>{{ user['enable'] }}</td>
            <td>{{ user['user']   }}</td>
            <td>{{ user['pword']  }}</td>
            <td>{{ user['notes']  }}</td>
         </tr>
      {% endfor %}
  {% endfor %}
</table>
{% endblock %}

