{% extends "wifi_base.html" %}
{% block title %}User Edit{% endblock %}
{% block body %}
<center>
<h1>User Edit</h1>
</center>

<table width=90%>
   {% for grp in ssids %}
      <tr>
         <td colspan=6 align=center>&nbsp </td>
      </tr>
      <tr>
         <td colspan=6 align=center><h3>SSID: {{ grp['name'] }}</h3></td>
      </tr>
      <tr>
          <th align=left>Enable</th>
          <th align=left>User</th>
          <th align=left>Password</th>
          <th align=left>Notes</th>
          <th align=left>Delete</th>
          <th align=left>&nbsp</th>
      </tr>
      <tr>
         <td colspan=6><hr></td>
      </tr>
      {% for form in grp['forms'] %}
         <tr>
            <form action="{{ url_for('.update_user') }}" method=post>
            <td>{{ form.idx }}{{ form.enable }}</td>
            <td>{{ form.user   }}{{ form.user.data }}</td>
            <td>{{ form.pword  }}</td>
            <td>{{ form.notes(size=60) }}</td>
            <td>{{ form.delete }}{{ form.ssid }} </td>
            <td>{{ form.update }} </td>
            </form>
         </tr>
      {% endfor %}
      <tr>
         <form action="{{ url_for('.add_user') }}" method=post>
            <td>{{ grp['add'].ssid }}{{ grp['add'].enable }}</td>
            <td>{{ grp['add'].user   }}</td>
            <td>{{ grp['add'].pword  }}</td>
            <td>{{ grp['add'].notes(size=60) }}</td>
            <td>{{ grp['add'].ssid      }}</td>
            <td>{{ grp['add'].add       }}</td>
         </form>
      </tr>
  {% endfor %}
</table>
{% endblock %}

