{% extends "wifi_base.html" %}
{% block title %}User Edit{% endblock %}
{% block body %}
<center>
<h1>User Edit</h1>
</center>

<table width=90%>
   {% for ssid in ssids %}
      <tr>
         <td colspan=6 align=center>&nbsp </td>
      </tr>
      <tr>
         <td colspan=6 align=center><h3>{{ ssid['name'] }}</h3></td>
      </tr>
      <tr>
          <th width=40 align=left>En</th>
          <th width=40 align=left>User</th>
          <th width=40 align=left>SSID</th>
          <th width=40 align=left>Password</th>
          <th width=40 align=left>Notes</th>
          <th width=40 align=left>Delete</th>
      </tr>
      <tr>
         <td colspan=6><hr></td>
      </tr>
      {% for form in ssid['forms'] %}
         <tr>
            <form action="{{ url_for('.edit_user') }}" method=post>
            <td>{{ form.idx }}{{ form.enable }}</td>
            <td>{{ form.user      }}</td>
            <td>{{ form.ssid      }}</td>
            <td>{{ form.password  }}</td>
            <td>{{ form.notes     }}</td>
            <td>{{ form.delete }}{{ form.update }}</td>
            </form>
         </tr>
      {% endfor %}
      <tr>
         {% form = ssid['add'] %}
         <form action="{{ url_for('.add_user') }}" method=post>
            <td>{{ form.enable }}</td>
            <td>{{ form.user      }}</td>
            <td>{{ form.ssid      }}</td>
            <td>{{ form.password  }}</td>
            <td>{{ form.notes     }}</td>
            <td>{{ form.add       }}</td>
         </form>
      </tr>
  {% endfor %}
</table>
{% endblock %}

